<div class="container">
  <div class="row">
    
    <div class="col-12">
      <h2>{{ site.data[page.lang].sectors.rrp }}</h2> 
    </div>
  </div><!-- /row -->
  <div class="row">
    
      <div class="col-6">
        <div class="card">
          <div class="card-header">{{ site.data[page.lang].sectors.rp-title }}</div>
          <div class="list-group list-group-flush">
          {% if site.data[page.lang][sector.label].role-profiles.size > 0 and site.data[page.lang][sector.label].role-profiles[0].name %}
            {% for profile in site.data[page.lang][sector.label].role-profiles %}
              {% if profile.link %}
                <a href="{% render_depth %}assets/docs/{{sector.label}}/{{profile.link}}" class="list-group-item list-group-item-action">{{ profile.name }} &nbsp;<i class="far fa-file-pdf"></i></a>
              {% else %}
                <div class="list-group-item ">{{ profile.name }} <small>({{ site.data[page.lang].coming-soon }})</small></div>
              {% endif %}
            {% endfor %}
          {% else %}
            <div class="list-group-item "><small>({{ site.data[page.lang].coming-soon }})</small></div>
          {% endif %}
          </div>
        </div>
      </div>
      
      <div class="col-6">
        {% if site.data[page.lang][sector.label].technical-framework %}
        <div class="card">
          <div class="card-header">{{ site.data[page.lang].sectors.framework-title }}</div>
          <div class="card-body">
            <p class="card-text">{{ site.data[page.lang].sectors.framework-description }}</p>
          </div>
          <div class="card-footer bg-transparent pt-0 border-top-0">
            
            {% for file in site.data[page.lang][sector.label].technical-framework %}
            
              <a href="{% render_depth %}assets/docs/{{sector.label}}/{{ file.link }}" class="btn btn-outline-dark">{{ file.name }} &nbsp;<i class="far fa-file-pdf"></i></a>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
             
  </div><!-- /row -->
</div> <!-- /container -->

<br>